html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.header {
    color: #d9d9d9;
    background: #262626;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.layout-center-wrapper {
    width: 1110px;
    margin: 0 auto;
}

.header .logo {
    float: left;
    background: url(img/header/logo.png);
    width: 107px;
    height: 33px;
    margin-top: 33px;
}

.top-menu {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}

.top-menu li {
    float: right;
    margin-right: 50px;
    list-style: none;
}

.top-menu li:first-child {
    margin-right: 0;
}

.top-menu a {
    display: block;
    padding: 38px 0;
}

.top-menu a.active {
    color: #ff6760;
}

.content {
    background: #f8f8f8;
}

.slider {
    display: block;
    padding-top: 60px;
    background: #2a2a2a;
    color: #d9d9d9;
}

.slider .title {
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    line-height: 50px;
    font-weight: 300;
}

.slider .title h1 {
    display: inline-block;
    font-size: 60px;
    margin: 0;
    font-weight: 700;
}

.slider .text {
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 100;
    font-style: italic;
}

.slider .btn {
    display: inline-block;
    width: 200px;
    margin: 60px 455px;
    background: #ff6760;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
    line-height: 50px;
    border-radius: 3px;
}

.capabilities {
    display: block;
    margin-top: 90px;
    color: #616161;
}

.capabilities:after {
    content: "";
    display: table;
    clear: both;
}

.capabilities .capability {
    float: left;
    width: 240px;
    margin-right: 50px;
    text-align: center;
}

.capabilities .capability:last-child {
    margin-right: 0;
}

.capabilities .capability .img {
    margin: 0 auto;
    width: 70px;
    height: 65px;
    margin-bottom: 10px;
    background: url(img/content/capabilities-sprite.png);
}

.capabilities .capability .img-first {
    background-position: 8px 0;
}

.capabilities .capability .img-second {
    background-position: -88px 0;
}

.capabilities .capability .img-third {
    background-position: -176px 0;
}

.capabilities .capability .img-fourth {
    background-position: -261px 0;
}

.capabilities .capability .title {
    font-size: 18px;
    line-height: 45px;
    font-weight: bold;
}

.capabilities .capability .text {
    font-size: 14px;
    line-height: 24px;
}

.portfolio {
    margin-top: 150px;
}

.portfolio .title {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 60px;
    font-weight: 900;
    color: #616161;
    text-align: center;
}

.portfolio .text {
    margin-bottom: 55px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.portfolio .nav {
    display: table; //специально для пробелов после инлайн-блоков в Safari
    width: 390px;
    margin: 0 auto;
    line-height: 35px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 0;
}

.portfolio .nav .btn {
    display: inline-block;
    padding: 0 18px;
    margin-right: 10px;
    margin-bottom: 25px;
    background: #ff6760;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.portfolio .nav .btn:last-child {
    margin-right: 0;
}

.portfolio .nav .btn-active {
    background: #595959;
}

.portfolio .pics {
    display: block;
}

.portfolio .pics:after {
    content: "";
    display: table;
    clear: both;
}

.portfolio .pics a {
    float: left;
    width: 270px;
    height: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #dadada url(img/content/portfolio-pics-sprite.jpg);
}

.portfolio .pics a:nth-child(4n) {
    margin-right: 0;
}

.portfolio .pics .first-pic {
    background-position: 0 0; 
}

.portfolio .pics .second-pic {
    background-position: -280px 0;
}

.portfolio .pics .third-pic {
    background-position: -560px 0;
}

.portfolio .pics .fourth-pic {
    background-position: -840px 0;
}

.portfolio .pics .fifth-pic {
    background-position: 0 -230px;
}

.portfolio .pics .sixth-pic {
    background-position: -280px -230px;
}

.portfolio .pics .seventh-pic {
    background-position: -560px -230px;
}

.portfolio .pics .eighth-pic {
    background-position: -840px -230px;
}

.portfolio .pics .ninth-pic {
    background-position: 0 -460px;
}

.portfolio .pics .tenth-pic {
    background-position: -280px -460px;
}

.portfolio .pics .eleventh-pic {
    background-position: -560px -460px;
}

.portfolio .pics .twelfth-pic {
    background-position: -840px -460px;
}

.footer {
    display: block;
    margin-top: 80px;
    padding-top: 30px;
    background: #313131;
    
    text-align: center;
}

.footer .title {
    font-size: 30px;
    line-height: 60px;
    font-weight: 900;
    color: #e0e0e0;
}

.footer .text {
    font-size: 20px;
    color: #bebebe;
    font-weight: 300;
    padding-bottom: 20px;
}

.footer .address {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #bebebe;
    line-height: 24px;
}

.footer .address:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -15px;
    width: 9px;
    height: 13px;
    background: url(img/footer/relations-sprite.png);
}

.footer .number {
    display: inline-block;
    position: relative;
    margin-left: 55px;
    font-size: 14px;
    color: #bebebe;
    line-height: 24px;
}

.footer .number:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -17px;
    width: 10px;
    height: 13px;
    background: url(img/footer/relations-sprite.png) no-repeat -9px 0;
}

.social-buttons {
    display: table; //специально для пробелов после инлайн-блоков в Safari
    width: 180px;
    margin: 30px auto 60px;
    font-size: 0;
}

.btn-social {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    background: url(img/footer/social-btn-sprite.png)
}

.btn-social:last-child {
    margin-right: 0;
}

.btn-social-rss {
    background-position: 0 0;
}

.btn-social-fb {
    background-position: -37px 0;
}

.btn-social-tw {
    background-position: -74px 0;
}

.btn-social-dri {
    background-position: -111px 0;
}

.btn-social-pin {
    background-position: -148px 0;
}

.copyright {
    display: block;
    padding: 33px 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background: #2c2c2c;
    color: #bebebe;
}