html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.header {
    color: #d9d9d9;
    background: #262626;
}

.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
}

.layout-center-wrapper {
    width: 1110px;
    margin: 0 auto;
}

.header .logo {
    float: left;
    background: url(img/header/logo.png);
    width: 107px;
    height: 33px;
    margin-top: 33px;
}

.top-menu {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.top-menu:after {
    content: "";
    display: table;
    clear: both;
}

.top-menu li {
    float: right;
    margin-right: 50px;
    list-style: none;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.top-menu li:hover, .top-menu li:focus, .top-menu li:active {
   -webkit-transform: scale(2);
   transform: scale(2);
}

.top-menu li:first-child {
    margin-right: 0;
}

.top-menu a {
    display: block;
    padding: 38px 0;
}

.top-menu a.active {
    color: #ff6760;
}

.content {
    background: #f8f8f8;
}

.slider {
    display: block;
    padding-top: 60px;
    background: #2a2a2a;
    color: #d9d9d9;
}

.slider .title {
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    line-height: 50px;
    font-weight: 300;
}

.slider .title h1 {
    display: inline-block;
    font-size: 60px;
    margin: 0;
    font-weight: 900;
}

.slider .text {
    margin-top: 25px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
}

.slider .text h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    font-style: italic;
}

.slider .btn {
    display: inline-block;
    width: 200px;
    margin: 60px 455px;
    background: #ff6760;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: white;
    line-height: 50px;
    border-radius: 3px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.slider .btn:hover, .slider .btn:focus, .slider .btn:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}

.capabilities {
    display: block;
    margin: 0;
    margin-top: 90px;
    color: #616161;
}

.capabilities:after {
    content: "";
    display: table;
    clear: both;
}

.capabilities li {
    float: left;
    width: 240px;
    margin-right: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.capabilities li:last-child {
    margin-right: 0;
}

.capabilities li .img {
    margin: 0 auto;
    width: 70px;
    height: 65px;
    margin-bottom: 10px;
    background: url(img/content/capabilities-sprite.png);
}

.capabilities li .img-first {
    background-position: 8px 0;
}

.capabilities li .img-second {
    background-position: -88px 0;
}

.capabilities li .img-third {
    background-position: -176px 0;
}

.capabilities .capability .img-fourth {
    background-position: -261px 0;
}

.capabilities li .title {
    font-size: 18px;
    line-height: 45px;
    font-weight: 900;
}

.capabilities li .text {
    font-size: 14px;
    line-height: 24px;
}

.portfolio {
    margin-top: 150px;
    background: #ffffff;
}

.portfolio h2 {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 60px;
    font-weight: 900;
    color: #616161;
    text-align: center;
}

.portfolio .text {
    margin-bottom: 55px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.portfolio .nav {
    display: block; 
    text-align: center;
    width: 390px;
    margin: 0 auto;
    line-height: 35px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.portfolio .nav input {
    display: none;
}

.portfolio .nav label {
    display: inline-block;
    padding: 0 18px;
    margin-right: 10px;
    margin-bottom: 25px;
    background: #ff6760;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.portfolio .nav label:last-child {
    margin-right: 0;
}

.reset-margin {
    margin-right: 0 !important;
}

@-webkit-keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.portfolio .nav label:hover, .portfolio .nav label:focus, .portfolio .nav label:active {
    -webkit-animation-name: push;
    animation-name: push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.portfolio .nav input:checked + label {
    background-color: #595959;
}

.portfolio .pics {
    display: block;
}

.portfolio .pics:after {
    content: "";
    display: table;
    clear: both;
}

.portfolio .pics a {
    float: left;
    width: 270px;
    height: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #dadada;
}

.portfolio .pics a:nth-child(4n) {
    margin-right: 0;
}

.portfolio .pics .pic-1 {
    background: url(img/content/port1.jpg);
}

.portfolio .pics .pic-2 {
    background: url(img/content/port2.jpg);
}

.portfolio .pics .pic-3 {
    background: url(img/content/port3.jpg);
}

.portfolio .pics .pic-4 {
    background: url(img/content/port4.jpg);
}

.portfolio .pics .pic-5 {
    background: url(img/content/port5.jpg);
}

.portfolio .pics .pic-6 {
    background: url(img/content/port6.jpg);
}

.portfolio .pics .pic-7 {
    background: url(img/content/port7.jpg);
}

.portfolio .pics .pic-8 {
    background: url(img/content/port8.jpg);
}

.portfolio .pics .pic-9 {
    background: url(img/content/port9.jpg);
}

.portfolio .pics .pic-10 {
    background: url(img/content/port10.jpg);
}

.portfolio .pics .pic-11 {
    background: url(img/content/port11.jpg);
}

.portfolio .pics .pic-12 {
    background: url(img/content/port12.jpg);
}

.footer {
    display: block;
    margin-top: 80px;
    padding-top: 30px;
    background: #313131;
    
    text-align: center;
}

.footer h2 {
    font-size: 30px;
    line-height: 60px;
    font-weight: 900;
    color: #e0e0e0;
}

.footer .text {
    font-size: 20px;
    color: #bebebe;
    font-weight: 300;
    padding-bottom: 20px;
}

.footer .address {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #bebebe;
    line-height: 24px;
}

.footer .address:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -15px;
    width: 9px;
    height: 13px;
    background: url(img/footer/relations-sprite.png);
}

.footer .number {
    display: inline-block;
    position: relative;
    margin-left: 55px;
    font-size: 14px;
    color: #bebebe;
    line-height: 24px;
}

.footer .number:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -17px;
    width: 10px;
    height: 13px;
    background: url(img/footer/relations-sprite.png) no-repeat -9px 0;
}

.social-buttons {
    display: table; 
    width: 180px;
    margin: 30px auto 60px;
}

.btn-social {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    background: url(img/footer/social-btn-sprite.png);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.btn-social:hover, .btn-social:focus, .btn-social:active {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.btn-social:last-child {
    margin-right: 0;
}

.btn-social-rss {
    background-position: 0 0;
}

.btn-social-fb {
    background-position: -37px 0;
}

.btn-social-tw {
    background-position: -74px 0;
}

.btn-social-dri {
    background-position: -111px 0;
}

.btn-social-pin {
    background-position: -148px 0;
}

.copyright {
    display: block;
    padding: 33px 0;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    background: #2c2c2c;
    color: #bebebe;
}